<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="style.css">
    <script async src="aerobox.js"></script>
    <script async src="routing.js"></script>
    <title>Aerobox local display</title>
</head>

<body>

    <h1>Aerobox real time data</h1>
    <!-- <p>My first paragraph.</p> -->
    <div id="app">
        <header>
            <section class="routing-sec">
            </section>
            <h1>Aerobox data</h1>
            <section id="data-list">
            </section>
            <!-- <div id="connect-details">
                <div id="connect-details-wrap">
                    <header>
                        <h1></h1>
                    </header> -->
            <h2></h2>
            <!--
            <h2>IP Address</h2>
            <section>
                <div class="ape brdb">IP Address:
                    <div id="ip" class="fr"></div>
                </div>
                <div class="ape brdb">Subnet Mask:
                    <div id="netmask" class="fr"></div>
                </div>
                <div class="ape">Default Gateway:
                    <div id="gw" class="fr"></div>
                </div>
            </section>
            <div class="buttons">
                <input id="disconnect" type="button" value="Disconnect" class="ctr" /> 
                <input id="ok-details" type="button" value="OK" class="ctr" />
            </div>
            -->
    </div>
    <div id="diag-disconnect" class="diag-box">
        <div class="diag-box-win">
            <p>Are you sure you would like to disconnect from this wifi?</p>
            <div class="buttons">
                <input id="no-disconnect" type="button" value="No" />
                <input id="yes-disconnect" type="button" value="Yes" />
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        </header>
    </div>

</body>

</html>